//scss
.menuFrame {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background-color: #ffffe3;
  background-image: url("../../imgs//menu-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .titleFrame {
    width: 90vw;
    background-image: url("../../imgs/cloud.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 30vh;
    .chimpAndTree {
      width: 90vw;
    }
  }
  .playButtonFrame {
    width: 100vw;
    height: 60vh;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .playButton {
      width: 30vw;
      height: 10vh;
      font-size: 300%;
      font-weight: bold;
      border: 1px solid #291708;
      background-color: rgba(206, 224, 36, 0.747);
      border-radius: 20px;
      &:hover {
        cursor: pointer;
        width: 35vw;
        height: 12vh;
        font-size: 350%;
      }
      &:active {
        width: 30vw;
        height: 10vh;
        font-size: 300%;
      }
    }
  }
  .gif {
    width: 20vw;
    height: auto;
    position: absolute;
    left: 10%;
    top: 50%;
  }
}
