.branchContainer {
  width: 100vw;
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.branch {
  width: 50%;
  min-height: 100%;
}
