//inheritance
%monkey {
  width: 300px;
  height: 350px;
  top: 30px;
}

//scss
.monkeyFrame {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .monkeyLeft {
    @extend %monkey;
    transform: rotateY(180deg);
  }

  .monkeyRight {
    @extend %monkey;
    transform: rotateY(360deg);
  }
}
