//inheritance
%monkey {
  position: absolute;
  width: auto;
  height: 50vh;
  bottom: 0px;
}

//scss
.monkeyFrame {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.monkeyRight {
  @extend %monkey;
  transform: rotateY(180deg);
}

.monkeyLeft {
  @extend %monkey;
  transform: rotateY(360deg);
}
